
<section class="ui stacked segment">
    <table class="ui fixed striped celled table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Weight (Kg)</th>
            <th>Chest (cm)</th>
            <th>Thigh (cm)</th>
            <th>Upper Arm (cm)</th>
            <th>Waist (cm)</th>
            <th>Hips (cm)</th>
            <th>Trend</th>
            <th>Comment</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#each assessments}}
            <tr>
                <td data-label="Assessment Time">{{date}}</td>
                <td data-label="Weight">{{weight}}</td>
                <td data-label="Chest">{{chest}}</td>
                <td data_label="Thigh">{{thigh}}</td>
                <td data_label="Upper Arm">{{upperArm}}</td>
                <td data_label="Waist">{{waist}}</td>
                <td data_label="Hips">{{hips}}</td>
                <td data-label="Trend"><i class="ui small {{trend}} tag label"></i></td>
                <td data-label="Comment">{{comment}}</td>
                <td class="center aligned">
                    <a href="/dashboard/deleteAssessment/{{id}}" data-tooltip="Delete">
                    <i class="centered trash alternate outline icon"></i></a></td>
            </tr>
        {{/each}}
        </tbody>
        <tfoot class="full-width very padded">
        <tr style="text-transform: capitalize;font-style: italic;font-weight: bold">
            <th colspan="10"><i class="ui tiny olive tag label"></i> : WEIGHT DECREASE |
                <i class="ui tiny red tag label"></i> : WEIGHT INCREASE |
                <i class="ui tiny blue tag label"></i> : BASE ASSESSMENT</th>
        </tr>
        </tfoot>
    </table>
</section>
