<!---------- NEW TABLE LAYOUT ---------------------------->
<section class="ui raised segment" style="column-gap: 0px">
    <table class="ui very basic striped table">
        <thead>
        <tr>
            <th class="two wide center aligned" data-tooltip=" Male / Female">
                <i class="blue folder icon"></i><i class="large male icon"></i>
                <i class="pink folder icon"></i><i class="large female icon"></i></th>
            <th class="thirteen wide"><h2>MEMBER</h2></th>
            <th class="one wide"></th>
        </tr>
        </thead>
    </table>


    <div class="ui grid">
        <div class="two wide column">
    <table class="ui very basic two wide striped table">
        <tbody class="two wide center aligned">
        <!-- https://emberigniter.com/handlebars-access-array-value-with-index/ --->
        {{#each userIconColour as |item|}}
            <tr>
                <td class="center aligned">
                    <h2><i class="big {{item}} folder icon" ></i></h2>
                    <br>
                </td>
        {{/each}}
        </tr>
        </tbody>
            </table>
        </div>
            <div class="fourteen wide column">
    <table class="ui very basic striped table">
        <tbody class="thirteen wide">
            {{#each members}}
                <td style="font-size: 120%"><a href="/memberAssessments/{{id}}" style="font-weight: bold">
                    <h2>{{firstName}} {{lastName}}</h2></a><p>
                    <div class="ui large label">
                        Assessments
                        <div class="detail">{{numberOfAssessments}}</div>
                    </div>
                </td>

                <td class="center aligned" data-tooltip="Delete {{firstName}}"><a href="/trainer/{{id}}/deletemember">
                    <i class="large red trash alternate icon"></i></a></td>

            </tr>
        {{/each}}
        </tbody>
    </table>
    </div>
    </div>
</section>


