<section class="ui raised segment">
    <h2 style="color: darkorange"><i class="orange play icon"></i>Current Open Goals : {{openGoals.length}}</h2>
<table class="ui orange center aligned celled table">
    <thead>
    <tr>
        <th>Added On :</th>
        <th>Added By :</th>
        <th>Goal Start Weight: Kg</th>
        <th>Goal Weight : Kg</th>
        <th>Goal Date :</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each openGoals}}
    <tr>
        <td>{{creationDate}}</td>
        <td>{{createdBy}}</td>
        <td>{{creationWeight}}</td>
        <td>{{goalWeight}}</td>
        <td>{{completionDate}}</td>
        <td><a href="/dashboard/deleteGoal/{{id}}" data-tooltip="Delete">
            <i class="orange trash alternate outline icon"></i></a></td>
    </tr>
    {{/each}}
    </tbody>
</table>
</section>

<section class="ui raised segment">
    <h2 style="color: darkgreen"><i class="green check icon"></i> Achieved Goals : {{achievedGoals.length}}</h2>
    <table class="ui green celled table">
        <thead>
        <tr>
            <th>Creation Date</th>
            <th>Created By</th>
            <th>Weight to Achieve</th>
            <th>Goal Achievement Date</th>
        </tr>
        </thead>
        <tbody>
        {{#each achievedGoals}}
            <tr class="positive">
                <td>{{creationDate}}</td>
                <td>{{createdBy}}</td>
                <td>{{goalWeight}}</td>
                <td>{{goalAchievementDate}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</section>

<section class="ui raised segment">
    <h2 style="color: darkred"><i class="red times icon"></i> Missed Goals : {{missedGoals.length}}</h2>
    <table class="ui red celled table">
        <thead>
        <tr>
            <th>Creation Date</th>
            <th>Created By</th>
            <th>Weight to Achieve</th>
            <th>Completion Date</th>
        </tr>
        </thead>
        <tbody>
        {{#each missedGoals}}
            <tr class="negative">
                <td>{{creationDate}}</td>
                <td>{{createdBy}}</td>
                <td>{{goalWeight}}</td>
                <td>{{completionDate}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</section>

