<section class="ui center aligned middle aligned grey segment">

    <div class="ui column grid" style=" font-family: helvetica; font-size: 130%;
            text-transform: uppercase; font-weight: bold">
        <div class="six column row" style="padding-bottom: 0%">
            <div class="four wide column" data-tooltip="Current Weight is : {{currentWeight}}"><i class="big {{userIconColour}} user icon"></i></div>
            <div class="four wide column"  data-tooltip="Your Ideal Weight is: {{idealWeight}} Kg">
                <i class="big {{tachometerColour}} tachometer alternate icon"></i></div>
            <div class="two wide column" style="text-align: right; padding: 0px; ">
                <i class="big {{heartColour}} heartbeat icon"></i></div>
            <div class="two wide column" style="padding-top: 8px; padding-left: 0px; font-size: 200%;
                    text-align: left; font-family: 'Avenir','Avenir Next', 'Avenir Next Condensed', sans-serif;
                    font-weight: normal">
                {{currentBMI}}
            </div>
            <div class="three wide column">
                <i class="big user md icon"></i></div>
            <div class="one wide column" style="padding: 0%">
                {{> analyticInformation}}
            </div>
        </div>
        <div class="six column row" style="padding-top: 0%">
            <div class="four wide column">{{user.firstName}} {{user.lastName}}</div>
            <div class="four wide column">
                Ideal Weight Indicator</div>
            <div class="two wide column"></div>
            <div class="two wide column" style="padding-left: 0px; text-align: left">BMI</div>
            <div class="three wide column">{{BMICategory}}</div>
            <div class="one wide column"></div>
        </div>
    </div>
</section>