<span>
<div class="ui inline dropdown">
    <div class="text" style="padding-top: 2px"> {{openGoals.length}} Open<i class="small caret down icon"></i></div>
<div class="menu">
    <div class="item">
        <table class="ui orange striped celled table">
            <thead>
            <tr style="font-size: 110%"><h3>{{user.firstName}}, Your Current Weight is: {{currentWeight}} Kg </h3></tr>
            <tr>
        <th>Added By :</th>
        <th>Lose / Gain Weight</th>
        <th>Goal Start Weight: Kg</th>
        <th>Goal Weight : Kg</th>

    </tr>
    </thead>
    <tbody>
    {{#each openGoals}}
        <tr>
        <td>{{createdBy}}</td>
        <td>{{weightDecision}}</td>
        <td>{{creationWeight}}</td>
        <td>{{goalWeight}}</td>

    </tr>
    {{/each}}
        </table>
    </div>
</div>

</div>
</span>

<script>$('.ui.dropdown')
        .dropdown()
;</script>