<span>
<div class="ui inline dropdown">
    <div class="text" style="padding-top: 2px"> {{openGoals.length}} Open<i class="small caret down icon"></i></div>
<div class="menu">
    <div class="item">
        <table class="ui orange striped celled table">
            <thead>
            <tr>
                <th>Added By</th>
                <th>Goal Date</th>
                <th>Goal Weight</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {{#each openGoals}}
                <tr>
                    <td>{{createdBy}}</td>
                    <td>{{completionDate}}</td>
                    <td>{{goalWeight}}</td>
                    <td>{{status}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>

</div>
</span>

<script>$('.ui.dropdown')
        .dropdown()
;</script>